<h2 class="page-header">App security configuration</h2>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}
<form action="/configuration/apply" method="POST">

	<div class="panel panel-default">
		<div class="panel-heading">Brute force protection</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="max-nb-attempts">Maximum number of failed attempts before account lock</label>
				<input class="form-control" type="number" value="{{config.maxNbAttempts}}" min="1" name="maxNbAttempts" id="max-nb-attempts"/>
				<small class="form-text text-muted">Upon the defined number of failed attempts defined above for one account, the said account will be locked to prevent brute force attacks on it. One failed attempt corresponds to the number of failed logins defined in the field below.</small>
			</div>

			<div class="form-group">
				<label for="nb-fails-per-attempt">Number of failed logins per attempt</label>
				<input class="form-control" type="number" value="{{config.nbFailsPerAttempt}}" min="1" name="nbFailsPerAttempt" id="nb-fails-per-attempt"/>
				<small class="form-text text-muted">This value defines the number of failed logins per failed attempt.</small>
			</div>

			<div class="form-group">
				<label for="attempt-timeout">Failed attempt timeout (in seconds)</label>
				<input class="form-control" type="number" value="{{attemptTimeoutSeconds}}" min="0" name="attemptTimeoutSeconds" id="attempt-timeout"/>
				<small class="form-text text-muted">This value defines the delay that a user has to wait <strong>(in seconds)</strong> before a new login attempt can be made.</small>
			</div>

		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading">Password reset</div>
		<div class="panel-body">
			<div class="form-group">
				<label>
					<input type="checkbox" name="allowPasswordReset" {{#if config.allowPasswordReset}}checked{{/if}}> Allow password reset
				</label>
			</div>
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading">Password complexity</div>
		<div class="panel-body">
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input type="checkbox" name="requireOneNumber" {{#if config.passwordComplexity.requireOneNumber}}checked{{/if}}> Require at least one number
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="requireOneSymbol" {{#if config.passwordComplexity.requireOneSymbol}}checked{{/if}}> Require at least one symbol
					</label>	
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="requireMaximumConsecutiveRecurringCharacters" {{#if config.passwordComplexity.requireMaximumConsecutiveRecurringCharacters}}checked{{/if}}> Your password can't contain more then 2 identicals consecutives characters
					</label>	
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="requireOneUppercase" {{#if config.passwordComplexity.requireOneUppercase}}checked{{/if}}> Require at least one uppercase letter
					</label>	
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="requireOneLowercase" {{#if config.passwordComplexity.requireOneLowercase}}checked{{/if}}> Require at least one lowercase letter
					</label>	
				</div>
				<div class="checkbox">
					<label class="min-max">
						<input type="checkbox" name="requireSpecificLength" {{#if config.passwordComplexity.requireSpecificLength}}checked{{/if}}> Require at least a minimum of <input type="number" name="requireSpecificLengthMin" min="1" value="{{config.passwordComplexity.requireSpecificLengthMin}}"/> characters and a maximum of <input max="64" type="number" name="requireSpecificLengthMax" value="{{config.passwordComplexity.requireSpecificLengthMax}}"/> characters
					</label>	
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Password history</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="password-history-length">Number of previous passwords that cannot be set as a new password</label>
				<input class="form-control" type="number" value="{{config.password_history_length}}" min="1" name="password_history_length" id="password-history-length"/>
				<small class="form-text text-muted">This value defines the number of passwords (hashed) that are being stored for each user. For example, if it is set to "2", a user cannot use one of his/her last 2 passwords as a new password.</small>
			</div>
		</div>
	</div>


	<input class="btn btn-primary btn-lg" type="submit" value="Apply changes" />
</form>