<h2 class="page-header">Activity logs</h2>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}
<p>Activities listed by date descending</p>
<ul class="list-group">
    {{#each logs}}
		<li class="list-group-item">
			<!-- <span class="label label-default">{{formatTime date "MM-DD-YYYY H:mm:ss"}}</span> -->
			<span class="badge badge-primary">{{action}}</span>
			User: <strong>{{username}}</strong> | <small>{{formatTime date "MM-DD-YYYY H:mm:ss"}}</small>
		</li>
    {{/each}}
</ul>